{% extends 'layouts/app.html.twig' %}

{% block title %}Gestion départements{% endblock %}
{% block nav %}
    <div class="quicklink-sidebar-menu ctm-border-radius shadow-sm grow bg-white p-4 mb-4 ">
        <ul class="list-group list-group-horizontal-lg">
            <li> <span class=" float-left"> <a  href="{{ path('new_departement') }}" class="  d-block text-dark d-inline-block  text-primary">
                    Ajouter un nouveau département <i  class=" fa fa-plus" style="margin-left: 3px"></i>
                </a> </span>
            </li>
        </ul>
    </div>
{% endblock %}
{% block body %}
    <div class="col-md-12">
        <div class="company-doc">
            <div class="card ctm-border-radius shadow-sm grow">
                <div class="card-header">
                    <h4 class="card-title d-inline-block mb-0">
                        Départements
                    </h4>
                </div>
                <div class="card-body">
                    <div class="employee-office-table">
                        <div class="table-responsive">
                            <table class="table custom-table">
                                <thead>
                                <tr>
                                    <th colspan="2">Nom du département</th>
                                    <th>Entreprise associé </th>
                                    <th class="text-right">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for department in departments %}
                                        <tr>
                                            <td colspan="2" class="text-primary">
                                                <a class="text-primary" href="{{ path('departement_show', {'id': department.id}) }}"><span class="avatar" data-toggle="tooltip" data-placement="top" title="" data-original-title="Danny Ward"><img alt="avatar image" src="{{ asset('images/companies/' ~department.company.logo) }}" class="img-fluid"></span>{{ department.label }}</a>
                                            </td>
                                            <td>{{ department.company? department.company.name : "" }}</td>
                                            <td class="text-right text-danger">
                                                <div class="table-action">
                                                    <a href="{{ path('edit_departement',{'id' : department.id}) }}" class="btn btn-sm btn-outline-success">
                                                        <span class="lnr lnr-pencil"></span> Edit
                                                    </a>
                                                    <span data-toggle="modal" data-target="#delete" data-id="{{ department.id }}" data-url="{{ path('department_delete', {'id': department.id}) }}" class="demand-delate">
                                                    <a href="javascript:void(0);" class="btn btn-sm btn-outline-danger" id="cost" >
                                                        <span class="lnr lnr-trash"></span> Delete
                                                    </a>
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delete">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Modal body -->
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title mb-4">Voulez-vous vraiment supprimer ce département?</h4>
                    <button  type="button" class="btn btn-danger text-white ctm-border-radius text-center mb-2 mr-3"  data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-theme text-white ctm-border-radius text-center mb-2 button-1" data-dismiss="modal" id="validee">Valider</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}

    <script>
        $(document).ready(function() {

            $(".demand-delate").click(function(){
                var documentId = $(this).attr('data-id');
                var urls = $(this).data('url');
               // console.log(urls);
                $("#cost").attr("title", "new title not working");

                $("#validee").click(function (reaload_on_return){
                    $.ajax({
                        type: 'POST',
                        data: {id: documentId},
                        url: urls,
                        dataType: 'json',
                        success: function (data) {
                            $('#informationdemand').html(data.view).css('display','block');}

                    });
                   if (reaload_on_return){
                        setTimeout(
                            function (){
                                location.reload();
                            }, 0001);
                    }
                });
            });

        });
    </script>

{% endblock %}